{{#if reset}}
  <button class='btn btn-link text-secondary align-baseline' type='button'
    onclick={{action reset}}>
    Reset
  </button>

  or
{{/if}}

<button class='btn bg-primary btn-outline-primary text-white' type='button'
  onclick={{action share 'facebook'}}>
  Share on Facebook
</button>
